<launch>
    <!--    載入參數   -->
    <rosparam file="$(find TEL_robot)/script/Second_Stage/parameter.yaml" />

    <!--   啟動訂閱鍵盤節點   -->
    <node
        output="screen"
        name="keyboard_subscriber"
        pkg="TEL_robot"
        type="Keyboard_Subscriber.py"
    />

    <!--   啟動realsense   -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_depth" value="false"/>
    </include>

</launch>